<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://simppacosmic.documents.azure.com:443/" />
	  <add key="PrimaryKey" value="pmT41y0zzhywtLtpXynYel9kH1PRYQHgSnCiJw1Xyk1Lx8rSsTgqxOMI3FOk4c2617CZarFFNgaoACDbOnAZOw==" />
  </appSettings>
</configuration>